body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9F1FF;
  color: #333333;
}

h1 {
  text-align: center;
}

#display {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  align-items: center;
}

.post img {
  max-width: 80%;
  max-height: 80%;
}

.post {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #E5D5F1;
  outline-style: solid;
  outline-width: 3px;
  outline-color: purple;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

a {
  color: purple;
}

#art_preview {
  max-width: 300px;
  max-height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2, h3 {
  color: purple;
}

button:hover {
  color: white;
  background-color: purple;
}
#header_line {
  margin-top: 15px;
  height: 2px;
  background-color: purple;
  margin-bottom: 10px;
}

#login-button{
  position: absolute;
  top: 20px;
  right: 100px;
  font-size: 18px;
  padding: 10px 20px;
  width: auto;
}

#header_container{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #D4B7EA;
  padding: 3px;
  margin-bottom: 10px;
}

#identity_div {
  position: absolute;
  top: 6px;
  right: 0px;
  font-size: 18px;
  padding: 10px 20px;
  width: auto;
}

#return_home{
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 18px;
  padding: 10px 20px;
  width: auto;
}

#posts_box img{
  max-width: 300px;
  max-height: 300px;
}

